@model IEnumerable<CheckListDataModel.CheckList>

@{
    ViewBag.Title = "CheckLists";
}

<div data-role="header" data-add-back-btn="true">
<h1>@ViewBag.Title</h1>
<a data-icon="plus" class="ui-btn-right" href="/Checklist/Create" data-role="button" data-inline="true">Checklist</a>
</div>
<div data-role="content">
<ul data-role="listview">
    <li data-role="list-divider">Index</li>
    @foreach (var item in Model) {
    <li>@Html.ActionLink(@item.Name, "Select", new { name = item.Name })</li>  
}
</ul>
</div>
