@model CheckListDataModel.CheckList

@{
    ViewBag.Title = Model.Name;
}
<div data-role="header" data-add-back-btn="true">
<h1>@Model.Name</h1>
<a data-icon="plus" class="ui-btn-right" href="/Checklist/CreateItem/@Model.Name" data-role="button" data-inline="true">Task</a>
</div>
<div data-role="content">
<ul data-role="listview">
    <li data-role="list-divider">Tasks</li>
    @for (int i = 0; i < Model.Items.Count; i++ )  {
       <li> 
        @Html.ActionLink(@Model.Items[i].Name, "Edit", new { id = @Model.Name, index=i  })
       </li> 
    }
</ul>
</div>



