<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="http://code.jquery.com/mobile/latest/jquery.mobile.min.css" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script src="http://code.jquery.com/mobile/latest/jquery.mobile.min.js"></script>
    <script type="text/javascript" src="../../Scripts/speak.full.js"></script>

</head>

<body>
 <div data-role="page" data-theme="b" id="containerPage">
	 @RenderBody()
 </div>
</body>
</html>
